#block-reassurance{
  margin-top: 37px;
  img{
    margin-right: 13px;
  }
  li .block-reassurance-item{
    margin-left:1px;
    margin-bottom:15px;
  }

  #product &{
    span{
      font-size:15px;
    }
  }
}
